nav.navbar {
    background-color: $gray-base;
    margin-bottom: $margin-default;
    border-bottom: 1px solid #bbb;
    box-shadow: none;

    .navbar-brand {
        flex-grow: 1;
        
        img {
            height: 30px;
       }
    }

    @media (max-width: $screen-sm-max) {
        height: 100px;

        .navbar-brand img {
            height: 40px;
        }
    }

    .nav .nav-link {
        i.fa {
            color: $brand-primary;
        }
    }
}