/* Branding */
$brand-primary: #2bbab8;
$gray-base: #ccc;
$gray-light: #eee;

/* Spaces */
$margin-default: 15px;
$margin-default-xl: $margin-default * 2;
$margin-default-xs: $margin-default / 2;

/* Border */
$border-radius-base: 2px;