.box-shadow {
    transition: .5s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    &:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        outline: 0;
    }
    &.no-hover {
        cursor: default;
        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }
}

body {
    background-color: $gray-base;
    padding-bottom: $margin-default-xl;
}

/* Alerts bootstrap */

.alert {
    border-radius: 0;
}

/* Alerts bootstrap */

p {
    color: $gray-dark-light;
}

.loading {
    i {
        color: $brand-primary;
    }
}

/* FIX INPUTS MDB LABEL CLICK */

.md-form input[type=text], .md-form input[type=password], .md-form input[type=email], .md-form input[type=url], .md-form input[type=time], .md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=tel], .md-form input[type=number], .md-form input[type=search-md], .md-form input[type=search], .md-form textarea.md-textarea {
    position: relative;
}